.tab-buttons a {
  margin-right: 15px;
  
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(10, 53, 10);
  color: white;
}

.tab-buttons a.active {
  background-color: #1b5e20;
}

h2{
  text-align: center;
  font-size: 70px;
  color: white;
}

.tab-buttons{
  align-items: center;
  justify-content: center;
  margin-left: 42%;
}

.admin-dashboard-container{
  background-color: rgb(182, 241, 182);
}