.gradient-custom {
/* fallback for old browsers */
background: yellowgreen;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to top left, green, yellowgreen);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to top left, green, yellowgreen)
}