<!-- Topbar Start -->
<div class="container-fluid px-5 d-none border-bottom d-lg-block">
    <div class="row gx-0 align-items-center">
        <div class="col-lg-4 text-center text-lg-start mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a routerLink="#" class="text-muted me-2"> Help</a><small> / </small>
                <a routerLink="#" class="text-muted mx-2"> Support</a><small> / </small>
                <a routerLink="#" class="text-muted ms-2"> Contact</a>

            </div>
        </div>
        <div class="col-lg-4 text-center d-flex align-items-center justify-content-center">
            <small class="text-dark">Call Us:</small>
            <a routerLink="#" class="text-muted">(+012) 1234 567890</a>
        </div>

        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <div class="dropdown">
                    <a routerLink="#" class="dropdown-toggle text-muted me-2" data-bs-toggle="dropdown"><small>
                            USD</small></a>
                    <div class="dropdown-menu rounded">
                        <a routerLink="#" class="dropdown-item"> Euro</a>
                        <a routerLink="#" class="dropdown-item"> Dolar</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a routerLink="#" class="dropdown-toggle text-muted mx-2" data-bs-toggle="dropdown"><small>
                            English</small></a>
                    <div class="dropdown-menu rounded">
                        <a routerLink="#" class="dropdown-item"> English</a>
                        <a routerLink="#" class="dropdown-item"> Turkish</a>
                        <a routerLink="#" class="dropdown-item"> Spanol</a>
                        <a routerLink="#" class="dropdown-item"> Italiano</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a routerLink="#" class="dropdown-toggle text-muted ms-2" data-bs-toggle="dropdown"><small><i
                                class="fa fa-home me-2"></i> My Dashboard</small></a>
                    <div class="dropdown-menu rounded">
                        <a routerLink="#" class="dropdown-item"> Login</a>
                        <a routerLink="#" class="dropdown-item"> Wishlist</a>
                        <a routerLink="#" class="dropdown-item"> My Card</a>
                        <a routerLink="#" class="dropdown-item"> Notifications</a>
                        <a routerLink="#" class="dropdown-item"> Account Settings</a>
                        <a routerLink="#" class="dropdown-item"> My Account</a>
                        <a routerLink="#" class="dropdown-item"> Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-5 py-4 d-none d-lg-block">
    <div class="row gx-0 align-items-center text-center">
        <!-- Logo Section -->
        <div class="col-md-4 col-lg-3 text-center text-lg-start">
            <div class="d-inline-flex align-items-center">
                <a routerLink="" class="navbar-brand p-0">
                    <h1 class="display-5 text-dark m-0">
                        <i class="fas fa-shopping-bag text-primary me-2"></i>Electro
                    </h1>
                </a>
            </div>
        </div>

        <!-- Search Section -->
        <div class="col-md-4 col-lg-6 text-center">
            <div class="position-relative ps-4" style="z-index: 1000;">
                <div class="d-flex border rounded-pill">
                    <input class="form-control border-0 rounded-pill w-100 py-3" type="text"
                        placeholder="Search Looking For?" [(ngModel)]="searchTerm" (input)="onSearchChange()" />
                    <select class="form-select text-dark border-0 border-start rounded-0 p-3" style="width: 200px;"
                        [(ngModel)]="selectedCategory">
                        <option value="All Category">All Category</option>
                        <option value="Pest Control-2">Category 1</option>
                        <option value="Pest Control-3">Category 2</option>
                        <option value="Pest Control-4">Category 3</option>
                        <option value="Pest Control-5">Category 4</option>
                    </select>
                    <button type="button" class="btn btn-primary rounded-pill py-3 px-5" style="border: 0;"
                        (click)="onSearch()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

                <!--  Dropdown suggestion list -->
                <div  class="position-absolute bg-white shadow w-100 mt-2 rounded" style="z-index: 9999; max-height: 300px; overflow-y: auto; top: 100%; left: 0;" *ngIf="searchTerm.trim().length > 0">
                    <div *ngIf="filteredProducts.length > 0; else noResults">
                        <div *ngFor="let product of filteredProducts" class="p-2 border-bottom text-start"
                            style="cursor: pointer;" (click)="selectProduct(product)">
                            {{product.name}}
                        </div>
                    </div>

                    <ng-template #noResults>
                        <div class="p-3 text-center text-muted">No results found</div>
                    </ng-template>
                </div>

            </div>
        </div>

        <!-- Cart/Icons Section -->
        <div class="col-md-4 col-lg-3 text-center text-lg-end">
            <div class="d-inline-flex align-items-center">
                <a routerLink="#" class="text-muted d-flex align-items-center justify-content-center me-3">
                    <span class="rounded-circle btn-md-square border">
                        <i class="fas fa-random"></i>
                    </span>
                </a>
                <a routerLink="#" class="text-muted d-flex align-items-center justify-content-center me-3">
                    <span class="rounded-circle btn-md-square border">
                        <i class="fas fa-heart"></i>
                    </span>
                </a>
                <a routerLink="/cart" class="text-muted d-flex align-items-center justify-content-center">
                    <span class="rounded-circle btn-md-square border">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span class="text-dark ms-2">${{cartTotal.toFixed(2)}}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Topbar End -->

<!-- Navbar & Hero Start -->
<div class="container-fluid nav-bar p-0">
    <div class="row gx-0 bg-primary px-5 align-items-center">
        <div class="col-lg-3 d-none d-lg-block">
            <nav class="navbar navbar-light position-relative" style="width: 250px;">
                <button class="navbar-toggler border-0 fs-4 w-100 px-0 text-start" type="button"
                    data-bs-toggle="collapse" data-bs-target="#allCat">
                    <h4 class="m-0"><i class="fa fa-bars me-2"></i>All Categories</h4>
                </button>
                <div class="collapse navbar-collapse rounded-bottom" id="allCat">
                    <div class="navbar-nav ms-auto py-0">
                        <ul class="list-unstyled categories-bars">
                            <li>
                                <div class="categories-bars-item">
                                    <a routerLink="/shop/accessories">Accessories</a>
                                    <span>(3)</span>
                                </div>
                            </li>
                            <li>
                                <div class="categories-bars-item">
                                    <a routerLink="/shop/electronicsAndComputer">Electronics & Computer</a>
                                    <span>(5)</span>
                                </div>
                            </li>
                            <li>
                                <div class="categories-bars-item">
                                    <a routerLink="/shop/laptopAndDesktop">Laptops & Desktops</a>
                                    <span>(2)</span>
                                </div>
                            </li>
                            <li>
                                <div class="categories-bars-item">
                                    <a routerLink="/shop/mobileAndTablet">Mobiles & Tablets</a>
                                    <span>(8)</span>
                                </div>
                            </li>
                            <li>
                                <div class="categories-bars-item">
                                    <a routerLink="/shop/phonesAndtv">SmartPhone & Smart TV</a>
                                    <span>(5)</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-12 col-lg-9">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <a routerLink="" class="navbar-brand d-block d-lg-none">
                    <h1 class="display-5 text-secondary m-0"><i class="fas fa-shopping-bag text-white me-2"></i>Electro
                    </h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars fa-1x"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a routerLink="/home" class="nav-item nav-link active">Home</a>
                        <!-- <a routerLink="/shop" class="nav-item nav-link">Shop</a> -->
                        <!-- <a routerLink="/productView" class="nav-item nav-link">product view</a> -->
                        <div class="nav-item dropdown">
                            <a routerLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a routerLink="/bestseller" class="dropdown-item">Bestseller</a>
                                <a routerLink="/cart" class="dropdown-item">Cart Page</a>
                                <a routerLink="/cheackout" class="dropdown-item">Cheackout</a>
                                <a routerLink="#" class="dropdown-item">404 Page</a>
                            </div>
                        </div>
                        <a routerLink="/contact" class="nav-item nav-link me-2">Contact</a>
                        <div class="nav-item dropdown d-block d-lg-none mb-3">
                            <a routerLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">All Category</a>
                            <div class="dropdown-menu m-0">
                                <ul class="list-unstyled categories-bars">
                                    <li>
                                        <div class="categories-bars-item">
                                            <a routerLink="#">Accessories</a>
                                            <span>(3)</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="categories-bars-item">
                                            <a routerLink="#">Electronics & Computer</a>
                                            <span>(5)</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="categories-bars-item">
                                            <a routerLink="#">Laptops & Desktops</a>
                                            <span>(2)</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="categories-bars-item">
                                            <a routerLink="#">Mobiles & Tablets</a>
                                            <span>(8)</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="categories-bars-item">
                                            <a routerLink="#">SmartPhone & Smart TV</a>
                                            <span>(5)</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a routerLink="" class="btn btn-secondary rounded-pill py-2 px-4 px-lg-3 mb-3 mb-md-3 mb-lg-0"><i
                            class="fa fa-mobile-alt me-2"></i> +0123 456 7890</a>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->