.text-primary{
    color: greenyellow !important;
}

.text-secondary{
    color: green !important;
}

.btn-primary{
    color: white !important;
    border: 1px solid greenyellow !important;
}

.btn-primary:hover{
    background-color: green !important;
    border: 1px solid green !important;
}

button{
    color: greenyellow !important;
}


button:hover{
    color: green !important;
}

.mb-2{
    color: greenyellow !important;
}

.d-block:hover{
    color: green !important;

}






