.bg-primary{
    background-color: greenyellow !important;
}

.text-secondary{
    color: green !important;
}


button{
    background-color: greenyellow !important;
    border: 1px solid greenyellow;
}
/* button:hover{
    background-color: green !important;
    border: 1px solid green !important;
} */

.owl-nav{
    background-color: greenyellow !important;
}

.text-primary{
    color: greenyellow !important;
}

a.btn.btn-primary{
    border: 1px solid greenyellow;
}

a.btn.btn-primary.border-secondary:hover{
    border: 1px solid green;
   
}

.border-secondary{
    border: 1px solid greenyellow !important;
}

.border-secondary:hover{
    border: 1px solid green !important;
}


a.d-block.mb-2{
    color: greenyellow !important;
}


.products-mini-icon:hover{
    background-color: green !important;
    
}

.d-block:hover{
    color:green !important;
}


.cart-modal {
  position: fixed;
  top: 30%;
  right: 20px;
  background: #28a745; /* green for success */
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000;
  animation: fadein 0.3s, fadeout 0.3s 1.7s;
  width: 100%;
}

.whishlist-modal{
  position: fixed;
  top: 30%;
  right: 20px;
  background: #28a745; /* green for success */
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000;
  animation: fadein 0.3s, fadeout 0.3s 1.7s;
  width: 100%;
}

.wishlist-btn i {
    color: yellowgreen;  /* default heart color */
    transition: color 0.3s;
}

.wishlist-btn.active i {
    color: green;        /* heart when liked */
}






