.text-primary{
    color: greenyellow !important;
}





.text-secondary{
    color: green !important;
}

.btn-primary{
    border: 1px solid greenyellow !important;
    
}

/* .border-secondary.a{
    color: green !important;
} */

.btn-primary:hover{
    background-color: green !important;
    border: 1px solid green !important;
    
}

/* a{
    color: greenyellow !important;
} */


.form-range{
    color: green !important;
}


.d-block.mb-2{
    color: rgb(41, 41, 41) !important;
}

.d-block:hover{
    color: green !important;
}

