<div class="admin-container">
  <h2 class="title">Admin Checkout Dashboard</h2>

  <div *ngIf="orders.length === 0" class="empty-message">
    No checkout data yet!
  </div>

  <div *ngFor="let order of orders" class="task-item card">
    <div class="card-header">
      <h3>Order</h3>
    </div>

    <div class="card-body">
      <h4>Customer Details</h4>
      <p><b>First Name:</b> {{ order.customerDetails.firstName }}</p>
      <p><b>Last Name:</b> {{ order.customerDetails.lastName }}</p>
      <p><b>Email:</b> {{ order.customerDetails.email }}</p>
      <p><b>Mobile:</b> {{ order.customerDetails.mobile }}</p>
      <p><b>Company:</b> {{ order.customerDetails.companyName }}</p>

      <hr>

      <h4>Shipping Address</h4>
      <p><b>Address:</b> {{ order.customerDetails.address }}</p>
      <p><b>Town:</b> {{ order.customerDetails.town }}</p>
      <p><b>Country:</b> {{ order.customerDetails.country }}</p>
      <p><b>Postal Code:</b> {{ order.customerDetails.postalCode }}</p>

      <hr>

      <h4>Order Summary</h4>
      <p><b>Date:</b> {{ order.customerDetails.date }}</p>
      <p><b>Notes:</b> {{ order.customerDetails.notes }}</p>

      <hr>

      <h4>Products Ordered</h4>
      <div *ngFor="let item of order.cartItems" class="product-item">
        <p><b>Product:</b> {{ item.name }}</p>
        <p><b>color:</b>{{item.selectedColor}}</p>
        <p><b>Quantity:</b> {{ item.quantity }}</p>
        <p><b>Price:</b> {{ item.currentprice }}</p>
        <hr>
      </div>

      <h4>Totals</h4>
      <p><b>Subtotal:</b> {{ order.subtotal }}</p>
      <p><b>Shipping:</b> {{ order.shippingCost }}</p>
      <p><b>Total:</b> {{ order.total }}</p>

      <h4>Payment</h4>
      <p><b>Method:</b> {{ order.paymentMethod }}</p>
    </div>
  </div>
</div>
